html,body{
	margin: 0;
	padding: 0;
}

.mainContainer{
	max-width: 1024px;
	margin: 0 auto;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 100px;
	align-items: center;
	position: sticky;
	top: 0;
	border-bottom: 1px solid lightgray;
	background-color: #FAFAFA;
	opacity: 0.9;
}

.logoContainer{
	width: 50px;
	height: 50px;
}

.logo{
	width: 100%;
}

.menuContainer{
	
}

.container{
	display: flex;
	flex-wrap: wrap;
}

.titleHeader{
	margin-bottom: 20px;
}

.description{
	margin-bottom: 20px;
}

.left{
	display: inline-block;
	width: 50%; 
}

.inner{
	width: 50%;
}

.right{
	display: inline-block;
	width: 50%;
}

.AppstoreImage{
	width: 50%;
}

.footer{
	text-align: center;
	font-size: 30px;
	margin-top: 50px;
	padding: 50px;
	background-color: #FAFAFA;
}

.rightImage{
	width: 130%;
}

.menuItem{   
	text-decoration: none;
	color: inherit;
	margin-left: 30px;
	font-size: 16px;
}

.menuItem:hover{
	border-bottom-style: solid;
}

.blockElement{
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	border: none;
	background-color: #F6F6F6;
	height: 35px;
	width: 190px;
	border-radius: 15px;
	outline: none;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 13px;
}

.signInbutton{
	background-color: #0084ff;
	border-radius: 24px;
	border: none;
	color: white;
	padding: 2px 20px 0px;
	font-size: 19px;
	height: 40px;
	width: 100px;
}

.inputSpan{
	margin-bottom: 20px;
}

.password{
	margin-bottom: 20px;
}

.mobileMenuContainer{
	display: none;
}

@media(max-width: 767px){
	.menuContainer{
		display: none;
	}

	.mobileMenuContainer{
	display: block;
	}

	.left{
		width: 100%;
		margin-bottom: 50px;
	}

	.inner{
		width: 64%;
		margin: 0 auto;
	}

	.right{
		width: 100%;
		overflow: hidden;
		text-align: center;
	}

	.rightImage{
		margin: 0 -50%;
	}
}

@media(max-width: 375px){
	.inner{
		width: 95%;
	}

	.footer{
		margin-top: 30px;
		font-size: 30px;
		padding:10px;
	}
}